# Firebase Web App Config for Admin Dashboard
VITE_FIREBASE_API_KEY=AIzaSyBBKnCXhO27GvKFl64s_O_YRb2QU00XVQw
VITE_FIREBASE_AUTH_DOMAIN=temple-darshan-app-d1719.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=temple-darshan-app-d1719
VITE_FIREBASE_STORAGE_BUCKET=temple-darshan-app-d1719.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1046724129762
VITE_FIREBASE_APP_ID=1:1046724129762:web:13c202bbbb9aefa470bfbb
