rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /temple/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /banners/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /services/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /events/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /news/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /donations/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
